# Dependencies
node_modules
.pnp
.pnp.js

# Production build artifacts
dist
build

# Environment files and secrets (NEVER COMMIT SENSITIVE KEYS)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
.cdp_*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
